body, html {
    height: 100%;
    margin: 0;
    font-family: "Permanent Marker", cursive;
    background-color: #f4f4f4;
    background-image: url("./Images/002.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; /* Para garantir que fique acima da imagem de fundo */
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: "Permanent Marker", cursive;
    z-index: 2; /* Garante que o formulário fique acima do fundo */
    background: linear-gradient(to bottom right, #f0f0ef, #dda602);
    width: 100%;
    max-width: 400px; /* Ajuste o valor conforme necessário */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    margin-bottom: 15px;
    font-family: "Permanent Marker", cursive;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-family: "Permanent Marker", cursive;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #000; /* Preto */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #333; /* Cinza escuro para o efeito hover */
}

.lembrar-senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

h2 {
    font-family: "Permanent Marker", cursive;
    margin-bottom: 20px;
}
